<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta name="description" content="<%= file.data.header.description %>">
  <title><%= file.data.header.title %> - <%= file.data.header.name %></title>
  <!-- link -->
  <% file.data.css.forEach(cssItem => { %><link rel="stylesheet" href="<%= cssItem %>"><% }) %>
</head>
<body>
  <%- contents %>
  <% file.data.js.forEach(jsItem => { %><script src="<%= jsItem %>"></script><% }) %>
</body>
</html>